{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">

        <hr>

        <body>
            <div class='container-fluid' align="center">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="navbar" href="{% url 'home' %}">
                            <img src="{ % static 'media/art3.jpg' % }" alt="logo" style="width:120px;">
                            <h1>
                                <font face="Courier New" size=6 color="black">
                                    <h1>The Conxia Lounge Salon</h1>
                                </font>
                            </h1>

                        </a>
                    </div>
                </div>

            </div>

            <div class="card h-100 px-1 py-5 mx-auto">

                <h3 class="heading">Booking Details</h3>



                <form method="POST" action="{% url 'payment_home' %}">{% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order_id }}">
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="service" value="{{ service }}">
                    <input type="hidden" name="stylist" value="{{ stylist }}">
                    <input type="hidden" name="date" value="{{ date }}">
                    <input type="hidden" name="time" value="{{ time }}">
                    <input type="hidden" name="amount" value="{{ amount }}">
                    <input type="hidden" name="name" value="{{ name }}">
                    <div class="form-card">
                        <p><b>Order ID :</b>&nbsp;&nbsp;{{order_id}}</p>
                        <p><b>Name :</b>&nbsp;&nbsp;{{name}}</p>
                        <p><b>Email :</b>&nbsp;&nbsp;{{email}}</p>
                        <p><b>Service :</b>&nbsp;&nbsp;{{service}}</p>
                        <p><b>Stylist :</b>&nbsp;&nbsp;{{stylist}}</p>
                        <p><b>Date :</b>&nbsp;&nbsp;{{date}}</p>
                        <p><b>Time :</b>&nbsp;&nbsp;{{time}}</p>
                        <p><b>Amount :</b>&nbsp;&nbsp;{{amount}} $</p>
                        <div align="center" class="check">
                            <!-- <img style="width:100px;height:100px;" <!-- class="fit-image check-img"
                                    src=""> -->
                        </div> -->
                    </div>
                    <div class="submit-button text-right mt-5 mb-2">

                        <button id="submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>

                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged<strong>${{ grand_total|floatformat:2
                                        }}</strong></span>
                            </p>
                        </button>
                    </div>
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <div class="card h-100">
                                <div class="col-12"></div>
                                <button name="submit" value="button1" type="submit" class="btn btn-info">Pay
                                    at
                                    checkout</button>
                                <div class="col-1"></div>
                                <button name="submit" value="button3" type="submit" class="btn btn-info">Pay
                                    via
                                    Card</button>
                                <button name="submit" value="button2" type="submit" class="btn btn-info">Login &
                                    Pay</button>
                            </div>
                            <hr>
                            <div class="row">
                                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold"></span>
                                </a>

                        </button>

                </form>
            </div>
    </div>
</div>
</div>
<br><br><br><br>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>
{% endblock%