{% extends "base.html" %}
{% load static %}

<!-- Code inspired by the Boutique Ado examples -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-blue text-uppercase py-4">
                The Nail Parlor Lounge.
            </h1>
            <div class="my-9">
                <h4>
                    <a href="{% url 'book' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book
                        Appointments</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container px-12 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-12 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="bi-star-fill">Nails & Pedicure Price List. Shellac application. €25. Gel bottle
                        gel polish. €30. Gel Bottle off and on. €30. Gel
                        bottle polish with rubber base.</div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/93/45/52/934552d60f7a78f9ee8b777ab933b593.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- Product name-->
                            <h5 class="fw-bolder">Pedicure</h5>
                            <!-- Product price-->
                            <div class="bi-star-fill">For That Perfect Summer Pedicure ·</div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Signature Art</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Signature
                        art
                    </div>
                    <div class="bi-star-fill">Signature Manicure. €40. With long wear polish CND Vinylux. Hydrating
                        soak, full cuticle work,
                        exfoliation, hand massage
                        followed by shaping and perfec</div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/27/c3/f3/27c3f3fb1b35578868cbe7300f808ecf.jpg" alt="box nails" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Square Shape with round corners</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">

                                <div class="bi-star-fill">Oval is the new look: A round shape nail, with corners that
                                    curve inward.</div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$55.00</span>
                            $45.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Book</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-40">
                    <div class="bi-star-fill"></div> Celebrate Halloween with a fun and festive manicure thanks to our
                    roundup of Halloween nail art ideas. These cute ideas
                    for Halloween nails
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hallowen
                        Nail
                        art
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://cdn11.bigcommerce.com/s-12568/images/stencil/1280x1280/products/2538/9142/halloweennailfoils-example__63994.1570622110.jpg?c=2?imbypass=on"
                        alt="halloween" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Book in for Halloween</h5>
                            <!-- Product price-->
                            <div class="bi-star-fill">Want to dress up your nails for Halloween with a spooky manicure
                            </div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-40">
                    <div class="bi-star-fill">Coffin nails, or sometimes called ballerina-shaped nails, Coffin acrylic
                        nails are especially fancy with plenty of
                        nail designs for fantastic manicure</div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/32/fd/4e/32fd4ed5c20a55bf615166b24c0f7323.jpg" alt="cofin" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="bi-star-fill"></div>
                            <!-- Product name-->
                            <h5 class="fw-bolder">Coffin shape</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill">Are you looking for short acrylic nails with almond coffin
                                    square point round shapes for summer.</div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-40">
                    <div class="bi-star-fill">A glitter nail polish with high impact colour and ultra-shiny finish that
                        provides up to 10 days flawless</div>
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/69/1a/92/691a92f617fc21a672c82cea35115398.jpg"
                        alt="glitter polish" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="bi-star-fill"></div>
                            <!-- Product name-->
                            <h5 class="fw-bolder">Glitter Polish</h5>
                            <!-- Product price-->
                            <div class="bi-star-fill"> Love glitter, shimmer, and bling? Or just subtle hints of sheen?
                                We have the perfect glitter gel polish shade for every
                                magpie or bride</div>
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="bi-star-fill"> Spice up your look with fake nail box</div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/ac/8e/07/ac8e07f75f65488db977ca0c87de0244.jpg"
                        alt="faded polish" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="bi-star-fill"></div>
                            <!-- Product name-->
                            <h5 class="fw-bolder">Box gel manicure</h5>
                            <!-- Product price-->
                            <div class="bi-star-fill"> Short acrylic Ombré nails White and pink fade</div>
                            $45.00 - $85.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-40">
                    <div class="bi-star-fill">A squoval faded nail art trend that will never disappear. It can
                        be used for so many different designs and can be
                        created with any colours you like</div>
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">special
                        offer
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/236x/81/ca/d1/81cad182e885046acd75c12cc78cab25.jpg" alt="squoval" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- Product name-->
                            <h5 class="fw-bolder">Squoval Short Acrylic Manicure</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill">Squoval nail shapes, a combination of square and oval, are
                                    universally flattering</div>

                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$55.00 - </span>
                            $35.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="#">Book now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-40">
                    <div class="bi-star-fill">MYGEL by Mylee Nail Gel Polish Top & Base Coat 2x15ml UV/LED
                        Soak-Off Nail Art Manicure Pedicure</div>
                    <div class="bi-star-fill"></div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/618VdZIvhwL._AC_SL1500_.jpg"
                        alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Top and Base Gel Coat</h5>
                            <!-- Product reviews-->

                        </div>
                        <!-- Product price-->
                        <strong> $40.00</strong>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}