* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
    min-height: 100vh;
    position: relative;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Almarai", sans-serif;
}

:root {
    --background: linear-gradient(150deg,
            #17acff 15%,
            #016aff 70%,
            #68a6ff 94%);
    --first: #53f;
    --second: #4553ff;
    --third: #4f40ff;
    --fourth: #25ddf5;
    --fifth: #1fa2ff;
}

#stripes {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vw;
    display: grid;
    background: var(--background);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transform: skewY(-12deg);
    transform-origin: 0;
}

#stripes span {
    /* border: 1px solid #c00c00; */
}

#stripes span:first-child {
    grid-column: span 1;
    background: var(--first);
}

#stripes span:nth-child(2) {
    grid-column: span 2;
    background: var(--second);
}

#stripes span:nth-child(3) {
    grid-column: span 2;
    background: var(--third);
}

#stripes span:nth-child(4) {
    grid-column: 6;
    grid-row: 3;
    background: var(--fourth);
}

#stripes span:nth-child(5) {
    grid-column: span 2;
    grid-row: 4;
    background: var(--fifth);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

.content {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h1 a {
    color: #dbf1f5;
}

h1 a:hover {
    color: #7decff;
}

p {
    margin-bottom: 50px;
}

li {
    text-align: left
}

code {
    display: inline-block;
    padding: 3px 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    font-size: 0.8rem;
    background: #1a2279;
    color: #dbf1f5;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.links a {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    color: #222;
    transition: 0.3s ease all;
    overflow: hidden;
}

.links a:before,
.links a:after {
    font-size: 40px;
    display: block;
    position: absolute;
}

.links a:before {
    content: "";
    top: -80%;
    right: -150px;
    width: 250px;
    height: 250px;
    background: rgba(125, 236, 255, 0.6);
    pointer-events: none;
    transform: rotate(-25deg);
    transition: 0.4s cubic-bezier(0.34, 0.31, 0, 1.81) transform;
}

.links a:after {
    content: "👉";
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 30px;
    transform: translateX(80px);
    transition: 0.3s cubic-bezier(0.34, 0.31, 0, 1.81) transform;
}

.links a:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.links a:hover:before {
    transform: rotate(-25deg) translateX(60px);
}

.links a:hover:after {
    transform: none;
}

.links a strong,
.links a span {
    position: relative;
    z-index: 1;
}

.links a strong {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.links a span {
    color: #787878;
    font-size: 0.9rem;
}

@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #088a8f;
    font-family: Lato;
    color: #030303;
    background-size: cover;
    height: calc(-25vh - 0.58px);
    font-family: 'Lato';
}

#button2 {
    width: 3em;
    height: 1.8em;
}

#button1 {
    width: 3em;
    height: 1.8em;
}

.twitter-typeahead {
    width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
    background-color: white;

    font-size: 15px;

    padding: 8px 12px;
    width: 760px;
}

.tt-dropdown-menu {

    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: red;
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 10px;
    line-height: 10px;
    padding: 3px 10px;
}


}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #070707;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #070707;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(8, 8, 8, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #070707;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #1df1f8;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('/media/background1.jpg') no-repeat center center;
    height: 100%;
    border-radius: 100%;
    width: auto;
}

#times {
    background-image: url('/media/background1.jpg''/media/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 19%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 2px;
}

#times h2 {
    color: #fafafa;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #7e0303;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

@media screen and (max-width: 1396px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: auto;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 943px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo {
        column-count: 3;
    }
}

@media screen and (max-width: 800px) {
    #photo {
        column-count: 2;
    }
}

html {
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}