<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nail-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nail Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nail-link">
                <a href="{% url 'products' %}?category=manicure,pedicures" class="dropdown-item">Manicure Kit
                </a>
                <a href="{% url 'products' %}?category=pedicure" class="dropdown-item">Pedicure Kit</a>
                <a href="{% url 'products' %}?category=acrylic" class="dropdown-item">Acrylics Powder</a>
                <a href="{% url 'products' %}?category=gel" class="dropdown-item">Gel Polish </a>
                <a href="{% url 'products' %}?category=manicurer,pedicure,acrylic,gel" class="dropdown-item">
                    Nail products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nailpolish-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nail Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nailaccessories-link">
                <a href="{% url 'products' %}?category=nail_tips" class="dropdown-item">Nail Tips</a>
                <a href="{% url 'products' %}?category=nail_glitters" class="dropdown-item">Nail Glitters</a>
                <a href="{% url 'products' %}?category=nail_polish" class="dropdown-item">Nail Polish</a>
                <a href="{% url 'products' %}?category=brushes" class="dropdown-item">Brushes</a>
                <a href="{% url 'products' %}?category=nail_tips_glitters,nail_polish_brushes" class="dropdown-item">All
                    Nail Accessories</a>
            </div>
        </li>


    </ul>
</div>