<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Flights</a>
                <a href="" class="dropdown-item ">Hotels</a>
                <a href="" class="dropdown-item ">Car Rental</a>
                <a href="" class="dropdown-item">Rail Tickets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="admin_tool"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Profile User</a>
                <a href="" class="dropdown-item">Edit Profile </a>
                <a href="" class="dropdown-item">Company role</a>
                <a href="" class="dropdown-item">Reason for travel</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="form_of_payment_links"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Form Of Payment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">CCD</a>
                <a href="" class="dropdown-item">Billpay</a>
                <a href="" class="dropdown-item">InVoice</a>
                </a>



        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="confirmation-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ancillary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Calender</a>
                <a href="" class="dropdown-item">Confirmations</a>
            </div>
        </li>
    </ul>
</div>